[Unit]
Description=Bore Server
After=network.target

[Service]
User=ssm-user
Group=ssm-user
Type=simple
Restart=always
WorkingDirectory=/usr/local/bin/bore
ExecStartPre=mkdir -p /usr/local/bin/bore/logs
ExecStart=/usr/local/bin/bore/bore-server

[Install]
WantedBy=multi-user.target
