[Unit]
Description=Bore Server
After=network.target

[Service]
User=ssm-user
Group=ssm-user
Type=simple
Restart=always
WorkingDirectory=/usr/local/bin/bore
ExecStart=/usr/local/bin/bore/bore-server --log-file /var/log/bore/bore.log

[Install]
WantedBy=multi-user.target
