name: Deploy
on: workflow_dispatch
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: EC2
    steps:
      - name: Build and Deploy Bore Server
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            set -e

            echo "cd into directory"
            cd ./bore

            echo "create logs dir"
            mkdir -p logs
            
            echo "Pull latest changes"
            git pull origin main

            echo "Build server"
            make build-server

            echo "Update logrotate configuration"
            sudo cp ./logrotate.conf /etc/logrotate.d/bore

            echo "Reload Nginx"
            sudo cp ./nginx.conf /etc/nginx/nginx.conf
            sudo systemctl daemon-reload
            sudo systemctl reload nginx

            echo "Restart Bore Server"
            sudo cp ./bore.service /etc/systemd/system
            sudo systemctl daemon-reload
            sudo systemctl restart bore.service
