name: Deploy
on: workflow_dispatch

permissions:
  id-token: write
  contents: read

jobs:
  S3PackageUpload:
    runs-on: ubuntu-latest
    steps:
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          role-to-assume: arn:aws:iam::841279781047:role/ec2-ssm-role
          role-session-name: GitHubActionsSession
          aws-region: ap-south-1
      
      - name: Get caller identity
        run: |
          aws ssm send-command --instance-ids "i-0df7c12433cac3f66" --document-name "AWS-RunShellScript" --parameters '{
            "commands":[
              "set -euo pipefail",
              "rm -rf /usr/local/bin/bore",
              "mkdir -p /usr/local/bin/bore/logs",
              "cd /usr/local/bin/bore",
              "git clone --branch v0.1.7 --single-branch https://github.com/Aditya-ds-1806/bore.git .",
              "curl -fsSL -o bore.tar.gz https://github.com/Aditya-ds-1806/bore/releases/download/v0.1.7/bore_0.1.7_linux_amd64.tar.gz",
              "sudo cp ./nginx.conf /etc/nginx/nginx.conf",
              "sudo cp ./bore.service /etc/systemd/system/bore.service",
              "sudo cp ./logrotate.conf /etc/logrotate.d/bore",
              "tar -xvzf bore.tar.gz",
              "rm -rf bore.tar.gz ./bore",
              "sudo systemctl daemon-reload",
              "sudo systemctl reload nginx",
              "sudo systemctl restart bore"
            ]}
          '
