name: Deploy
on: workflow_dispatch

permissions:
  id-token: write
  contents: read

jobs:
  S3PackageUpload:
    runs-on: ubuntu-latest
    steps:
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          role-to-assume: arn:aws:iam::841279781047:role/ec2-ssm-role
          role-session-name: GitHubActionsSession
          aws-region: ap-south-1
      
      - name: Get caller identity
        run: |
          aws ssm send-command --instance-ids "i-0df7c12433cac3f66" --document-name "AWS-RunShellScript" --parameters '{
            "commands":[
              "mkdir -p /usr/local/bin/bore/logs",
              "cd /usr/local/bin/bore",
              "curl -L -o bore.tar.gz https://github.com/Aditya-ds-1806/bore/releases/download/v0.1.7/bore_0.1.7_linux_amd64.tar.gz",
              "curl -L -o /etc/nginx/nginx.conf https://raw.githubusercontent.com/Aditya-ds-1806/bore/refs/tags/v0.1.7/nginx.conf",
              "curl -L -o /etc/systemd/system/bore.service https://raw.githubusercontent.com/Aditya-ds-1806/bore/refs/tags/v0.1.7/bore.service",
              "curl -L -o /etc/logrotate.d/bore https://raw.githubusercontent.com/Aditya-ds-1806/bore/refs/tags/v0.1.7/logrotate.conf",
              "tar -xvzf bore.tar.gz",
              "rm -rf bore.tar.gz ./bore",
              "sudo systemctl daemon-reload",
              "sudo systemctl reload nginx",
              "sudo systemctl restart bore"
            ]}
          '
