name: Deploy
on: workflow_dispatch

permissions:
  id-token: write
  contents: read

jobs:
  S3PackageUpload:
    runs-on: ubuntu-latest
    steps:
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502
        with:
          role-to-assume: arn:aws:iam::841279781047:role/ec2-ssm-role
          role-session-name: GitHubActionsSession
          aws-region: ap-south-1
      
      - name: Get caller identity
        run: |
          aws sts get-caller-identity
