name: Deploy
on: workflow_dispatch

permissions:
  id-token: write
  contents: read

jobs:
  S3PackageUpload:
    runs-on: ubuntu-latest
    steps:
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@v5.1.1
        with:
          role-to-assume: arn:aws:iam::841279781047:role/ec2-ssm-role
          role-session-name: GitHubActionsSession
          aws-region: ap-south-1
      
      - name: Get caller identity
        run: |
          aws ssm send-command --instance-ids "i-0df7c12433cac3f66" --document-name "AWS-RunShellScript" --parameters '{
            "commands":[
              "curl -O /etc/nginx/nginx.conf https://raw.githubusercontent.com/Aditya-ds-1806/bore/refs/tags/v0.1.7/nginx.conf",
              "curl -O /etc/systemd/system/bore.service https://raw.githubusercontent.com/Aditya-ds-1806/bore/refs/tags/v0.1.7/bore.service",
              "systemctl restart bore"
            ]}
          '
