name: Remote SSH Command
on: workflow_dispatch
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: EC2
    steps:
      - name: Execute remote SSH commands using SSH key
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            sudo su
            cd ./bore
            git pull origin main
            make build-server
            cp ./nginx.conf /etc/nginx/nginx.conf
            sudo systemctl reload nginx
            
