name: Deploy
on: workflow_dispatch
jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    environment: EC2
    steps:
      - name: Build and Deploy Bore Server
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_KEY }}
          port: 22
          script: |
            echo "cd into directory"
            cd ./bore
            
            echo "Pull latest changes"
            git pull origin main

            echo "Build server"
            make build-server

            echo "Reload Nginx"
            sudo cp ./nginx.conf /etc/nginx/nginx.conf
            sudo systemctl reload nginx

            echo "Restarting Bore Server"
            kill -9 $(lsof -t -c bore-server)
            ./bore-server > /dev/null 2>&1 &
