name: release

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

permissions:
  contents: write
  id-token: write

jobs:
  goreleaser:
    runs-on: ubuntu-latest
    environment: EC2
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: stable

      - name: Cosign setup
        uses: sigstore/cosign-installer@v4.0.0
        with:
          cosign-release: 'v3.0.3'

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: "~> v2"
          args: release --clean
        env:
          GITHUB_TOKEN: ${{ secrets.HOMEBREW_TAP_TOKEN }}
      
  build-for-npm:
    needs: goreleaser
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
      - run: |
          cd scripts/npm && npm version ${{ github.ref_name }} --no-git-tag-version
      - run: cd scripts/npm && npm ci
      - run: cd scripts/npm && npm run test

  publish-npm:
    needs: build-for-npm
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: scripts/npm
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 24
          registry-url: https://registry.npmjs.org/
      - run: npm install -g npm@latest
      - run: |
          npm version ${{ github.ref_name }} --no-git-tag-version
      - run: npm ci
      - run: npm publish
